@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Halaney';
  src: url('~assets/fonts/Halaney.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Halaney', sans-serif;
}
